{{define "sidebar"}}
<div class="col-sm-3 col-sm-offset-1 blog-sidebar">
    <div class="sidebar-module sidebar-module-inset">
        <h4>About</h4>
        <p>World class software engineer that understands it takes people to write software. I have a passion for
            technology and how it can make the world a better place. Bravery is an undervalued commodity.</p>
    </div>
    <div class="sidebar-module">
        <h4>Archives</h4>
        <ol class="list-unstyled">
        {{range .ArchiveLinks}}
            <li><a href={{.LinkHref}}>{{.LinkDate}}</a></li>
        {{ end }}
        </ol>
    </div>
    <div class="sidebar-module">
        <h4>Elsewhere</h4>
        <ol class="list-unstyled">
            <li><a href="https://github.com/charltonaustin">GitHub</a></li>
            <li><a href="https://www.linkedin.com/in/charltonaustin">LinkedIn</a></li>
        </ol>
    </div>
</div><!-- /.blog-sidebar -->
{{ end }}
